

@media screen and (min-width: 768px) {

   

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 0;
    }



    #members-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }

   

    #members-container.list .member-card {
        text-align: left;
    }

  

    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

}

/* =========================================
   HOME PAGE
========================================= */

.info-grid {
    grid-template-columns: 2fr 1fr 1fr;
}

.spotlights {
    grid-template-columns: repeat(3, 1fr);
}

.hero img {
    height: 450px;
}